In [32]:
import pandas as pd
import numpy as np

In [33]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
data = pd.read_csv("D:/Data science projects/Airbnb Analysis/df.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\4255053797.py:1: DtypeWarning: Columns (77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,134,135,136,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,3041,3042,3043,3044,3045,3046,3047,3048,3049,3050,3051,3052,3053,3054,3055,3056,3057,3058,3059,3060,3061,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071,3072,3073,3074,3075,3076,3077,3078,3079,3080,3081,3082,3083,3084,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3118,3119,3120,3121,3122,3123,3124,3125,3126,3127,3128,3129,3130,3131,3132,3133,3134,3135,3136,3137,3138,3139,3140,3141,3142,3143,3144,3145,3146,3147,3148,3149,3150,3151,3152,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3194,3195,3196,3197,3198,3199,3200,3201,3202,3203,3204,3205,3206,3207,3208,3209,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3222,3223,3224,3225,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248,3249,3250,3251,3252,3253,3254,3255,3256,3257,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("D:/Data science projects/Airbnb Analysis/df.csv")

In [35]:
data

,Unnamed: 0,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,...,reviews[524].comments,reviews[525].comments,reviews[526].comments,reviews[527].comments,reviews[528].comments,reviews[529].comments,reviews[530].comments,reviews[531].comments,reviews[532].comments,reviews_per_month
0,0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"ThereÂ´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: â¢ Metro station and S. Bento railwa...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Loft Suite Deluxe @ Henry Norman Hotel Located...,This loft unit features a kitchenette and is f...,Loft Suite Deluxe @ Henry Norman Hotel Located...,Greenpoint is an artsy Brooklyn neighborhood f...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...","The apartment has a living room, wash room, su...","The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,NaN,On the street there is plenty of transport and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,10082307,https://www.airbnb.com/rooms/10082307,Double Room en-suite (307),A standard double room with a queen size doubl...,NaN,A standard double room with a queen size doubl...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,5550,9614672,https://www.airbnb.com/rooms/9614672,Beautiful Apartment Hells Kitchen,What an amazing apartment. Gym on 3rd floor.,NaN,What an amazing apartment. Gym on 3rd floor.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5551,5551,9691680,https://www.airbnb.com/rooms/9691680,Brandnew Fully Furnished Flat,Brandnew fully furnished flat in the heart of ...,NaN,Brandnew fully furnished flat in the heart of ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5552,5552,9759181,https://www.airbnb.com/rooms/9759181,2 beds in Chic Apt in Astoria NYC,2 private bedrooms available with two comforta...,Come relax in my fully updated 2 story apartme...,2 private bedrooms available with two comforta...,Astoria is a vibrant neighborhood full of wond...,Coffee and milk available every morning :) TR...,There are multiple options for getting around....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5553,5553,9765083,https://www.airbnb.com/rooms/9765083,House in a charming village,Our house is located in a calm and charming vi...,NaN,Our house is located in a calm and charming vi...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5554,5554,9853331,https://www.airbnb.com/rooms/9853331,Amazing apartment in LEBLON,Our apartment is in the best spot of Leblon Tw...,It is close to everything On an upper floor o...,Our apartment is in the best spot of Leblon Tw...,Traditional Carioca (local) neighborhood With...,We offer boat tours around Rio de Janeiro with...,Avenida Ataulfo de Paiva has all buses availab...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df= pd.DataFrame(data)
df.head(2)

,Unnamed: 0,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,...,reviews[524].comments,reviews[525].comments,reviews[526].comments,reviews[527].comments,reviews[528].comments,reviews[529].comments,reviews[530].comments,reviews[531].comments,reviews[532].comments,reviews_per_month
0,0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,Lovely one bedroom + sofa-bed in the living ro...,One bedroom + sofa-bed in quiet and bucolic ne...,This charming ground floor flat is located in ...,"ThereÂ´s a table in the living room now, that d...","Easy access to transport (bus, taxi, car) and ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: â¢ Metro station and S. Bento railwa...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:

df1=df[['_id','listing_url','name','property_type','room_type', 'bed_type',
       'minimum_nights', 'maximum_nights','cancellation_policy','accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
     'price','cleaning_fee','extra_people','guests_included','review_scores.review_scores_rating']]

df1

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,review_scores.review_scores_rating
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.0,187.0,0.0,1,NaN
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,3.0,5.0,51,1.0,80.0,35.0,15.0,6,89.0
2,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,4,0.0,2.0,5,1.0,205.0,NaN,0.0,1,88.0
3,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,1.0,3.0,70,2.0,119.0,150.0,40.0,3,98.0
4,10082307,https://www.airbnb.com/rooms/10082307,Double Room en-suite (307),Apartment,Private room,Real Bed,1,1125,strict_14_with_grace_period,2,1.0,1.0,0,1.0,361.0,NaN,130.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9614672,https://www.airbnb.com/rooms/9614672,Beautiful Apartment Hells Kitchen,Apartment,Entire home/apt,Real Bed,1,1125,flexible,3,1.0,1.0,0,1.5,450.0,NaN,0.0,1,NaN
5551,9691680,https://www.airbnb.com/rooms/9691680,Brandnew Fully Furnished Flat,Apartment,Entire home/apt,Real Bed,3,1125,flexible,2,1.0,2.0,0,1.0,185.0,NaN,0.0,1,NaN
5552,9759181,https://www.airbnb.com/rooms/9759181,2 beds in Chic Apt in Astoria NYC,Apartment,Private room,Real Bed,3,1125,strict_14_with_grace_period,4,2.0,2.0,0,1.0,159.0,35.0,0.0,4,NaN
5553,9765083,https://www.airbnb.com/rooms/9765083,House in a charming village,House,Private room,Real Bed,7,1125,flexible,2,1.0,1.0,0,1.0,351.0,NaN,0.0,1,NaN
5554,9853331,https://www.airbnb.com/rooms/9853331,Amazing apartment in LEBLON,Apartment,Entire home/apt,Real Bed,1,30,strict_14_with_grace_period,5,3.0,3.0,91,2.0,399.0,200.0,150.0,1,92.0

In [38]:
df1.isnull().sum()

_id                                      0
listing_url                              0
name                                     8
property_type                            0
room_type                                0
bed_type                                 0
minimum_nights                           0
maximum_nights                           0
cancellation_policy                      0
accommodates                             0
bedrooms                                 5
beds                                    13
number_of_reviews                        0
bathrooms                               10
price                                    0
cleaning_fee                          1531
extra_people                             0
guests_included                          0
review_scores.review_scores_rating    1474
dtype: int64

In [39]:
df1.describe()

,_id,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,review_scores.review_scores_rating
count,5.555000e+03,5555.000000,5.555000e+03,5555.000000,5550.000000,5542.000000,5555.000000,5545.000000,5555.000000,4024.000000,5555.000000,5555.000000,4081.000000
mean,1.664386e+07,5.564356,1.382776e+06,3.505851,1.411712,2.071454,27.606481,1.291163,278.766157,94.074801,22.791899,1.747435,93.099240
std,9.622558e+06,22.613861,5.256920e+07,2.297019,1.041942,1.619660,49.798376,0.702265,842.215531,110.203782,69.331511,1.487352,9.023483
min,1.170800e+04,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,1.000000,20.000000
25%,8.376039e+06,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,23.000000,0.000000,1.000000,90.000000
50%,1.711345e+07,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,60.000000,0.000000,1.000000,95.000000
75%,2.461229e+07,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,129.000000,20.000000,2.000000,99.000000
max,3.295874e+07,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,2000.000000,2346.000000,16.000000,100.000000

In [40]:
#handling Null value columns
#bedrooms
#beds
#cleaning_fee
#bathrooms
#review_rating

In [41]:
df1["cleaning_fee"]=df1["cleaning_fee"].fillna(0)
df1['beds']= df1['beds'].fillna(0)
df1['bedrooms']=df1['bedrooms'].fillna(0)
df1['bathrooms']= df1['bathrooms'].fillna(0)
df1['review_scores.review_scores_rating']= df1['review_scores.review_scores_rating'].fillna(0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\2956397327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["cleaning_fee"]=df1["cleaning_fee"].fillna(0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\2956397327.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['beds']= df1['beds'].fillna(0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\2956397327.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['bedrooms']=df1['bedrooms'].fillna(0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\2956397327.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['bathrooms']= df1['bathrooms'].fillna(0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\2956397327.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['review_scores.review_scores_rating']= df1['review_scores.review_scores_rating'].fillna(0)

In [42]:
df1.isnull().sum()

_id                                   0
listing_url                           0
name                                  8
property_type                         0
room_type                             0
bed_type                              0
minimum_nights                        0
maximum_nights                        0
cancellation_policy                   0
accommodates                          0
bedrooms                              0
beds                                  0
number_of_reviews                     0
bathrooms                             0
price                                 0
cleaning_fee                          0
extra_people                          0
guests_included                       0
review_scores.review_scores_rating    0
dtype: int64

In [43]:
df=df.dropna(subset=['name'])

In [44]:
df1.isnull().sum()

_id                                   0
listing_url                           0
name                                  8
property_type                         0
room_type                             0
bed_type                              0
minimum_nights                        0
maximum_nights                        0
cancellation_policy                   0
accommodates                          0
bedrooms                              0
beds                                  0
number_of_reviews                     0
bathrooms                             0
price                                 0
cleaning_fee                          0
extra_people                          0
guests_included                       0
review_scores.review_scores_rating    0
dtype: int64

In [45]:
#converting data types

df1.dtypes

_id                                     int64
listing_url                            object
name                                   object
property_type                          object
room_type                              object
bed_type                               object
minimum_nights                          int64
maximum_nights                          int64
cancellation_policy                    object
accommodates                            int64
bedrooms                              float64
beds                                  float64
number_of_reviews                       int64
bathrooms                             float64
price                                 float64
cleaning_fee                          float64
extra_people                          float64
guests_included                         int64
review_scores.review_scores_rating    float64
dtype: object

In [46]:
df1["bedrooms"]= df1["bedrooms"].astype(int)
df1["beds"]= df1["beds"].astype(int)
df1["bathrooms"]= df1["bathrooms"].astype(int)
df1["price"]= df1["price"].astype(int)
df1["extra_people"]= df1["extra_people"].astype(int)
df1["guests_included"]= df1["guests_included"].astype(int)
df1["cleaning_fee"]= df1["cleaning_fee"].astype(int)
df1['review_scores.review_scores_rating']=df1['review_scores.review_scores_rating'].astype(int)

In [47]:
df1.dtypes

_id                                    int64
listing_url                           object
name                                  object
property_type                         object
room_type                             object
bed_type                              object
minimum_nights                         int64
maximum_nights                         int64
cancellation_policy                   object
accommodates                           int64
bedrooms                               int64
beds                                   int64
number_of_reviews                      int64
bathrooms                              int64
price                                  int64
cleaning_fee                           int64
extra_people                           int64
guests_included                        int64
review_scores.review_scores_rating     int64
dtype: object

In [48]:
df_host= df[['_id','host.host_id','host.host_name','host.host_url','host.host_location',
             'host.host_response_time','host.host_response_rate','host.host_thumbnail_url','host.host_picture_url',
             'host.host_neighbourhood','host.host_is_superhost','host.host_has_profile_pic','host.host_identity_verified',
             'host.host_listings_count','host.host_total_listings_count']]
df_host.head(2)

,_id,host.host_id,host.host_name,host.host_url,host.host_location,host.host_response_time,host.host_response_rate,host.host_thumbnail_url,host.host_picture_url,host.host_neighbourhood,host.host_is_superhost,host.host_has_profile_pic,host.host_identity_verified,host.host_listings_count,host.host_total_listings_count
0,10009999,1282196,Ynaie,https://www.airbnb.com/users/show/1282196,"Rio de Janeiro, State of Rio de Janeiro, Brazil",NaN,NaN,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim BotÃ¢nico,False,True,False,1,1
1,10006546,51399391,Ana&GonÃ§alo,https://www.airbnb.com/users/show/51399391,"Porto, Porto District, Portugal",within an hour,100.0,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,NaN,False,True,True,3,3

In [49]:
                                               
# df_host['host.host_verifications']= df[['host.host_verifications[0]','host.host_verifications[1]',
#                                                                                  'host.host_verifications[2]',
#                                                                                  'host.host_verifications[3]',
#                                                                                  'host.host_verifications[4]',
#                                                                                  'host.host_verifications[5]',
#                                                                                  'host.host_verifications[6]',
#                                                                                  'host.host_verifications[7]'
#                                                                                  ]].agg(lambda x: ','.join(str(i) for i in x), axis=1)

# df_host['host.host_verifications']

In [50]:
df_host.isnull().sum()

_id                                  0
host.host_id                         0
host.host_name                       0
host.host_url                        0
host.host_location                   8
host.host_response_time           1382
host.host_response_rate           1382
host.host_thumbnail_url              0
host.host_picture_url                0
host.host_neighbourhood           1919
host.host_is_superhost               0
host.host_has_profile_pic            0
host.host_identity_verified          0
host.host_listings_count             0
host.host_total_listings_count       0
dtype: int64

In [51]:
# Handling null values in Host dataframe
df_host["host.host_location"].fillna("Not Specified",inplace=True)

df_host["host.host_response_time"].fillna("Not Specified",inplace=True)
df_host["host.host_response_rate"].fillna("Not Specified",inplace = True)
df_host["host.host_neighbourhood"]= df_host["host.host_neighbourhood"].replace({'':"Not Specified"})
df_host["host.host_neighbourhood"].fillna("Not Specified",inplace = True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host.host_location"].fillna("Not Specified",inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_location"].fillna("Not Specified",inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host.host_response_time"].fillna("Not Specified",inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_response_time"].fillna("Not Specified",inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host.host_response_rate"].fillna("Not Specified",inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_host["host.host_response_rate"].fillna("Not Specified",inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_response_rate"].fillna("Not Specified",inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_neighbourhood"]= df_host["host.host_neighbourhood"].replace({'':"Not Specified"})
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host.host_neighbourhood"].fillna("Not Specified",inplace = True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\1029898848.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_neighbourhood"].fillna("Not Specified",inplace = True)

In [52]:
df_host.isnull().sum()

_id                               0
host.host_id                      0
host.host_name                    0
host.host_url                     0
host.host_location                0
host.host_response_time           0
host.host_response_rate           0
host.host_thumbnail_url           0
host.host_picture_url             0
host.host_neighbourhood           0
host.host_is_superhost            0
host.host_has_profile_pic         0
host.host_identity_verified       0
host.host_listings_count          0
host.host_total_listings_count    0
dtype: int64

In [53]:
# Changing the "True" or "False" features

df_host["host.host_is_superhost"]= df_host["host.host_is_superhost"].map({False: "No", True: "Yes"})
df_host["host.host_has_profile_pic"]= df_host["host.host_has_profile_pic"].map({False: "No", True: "Yes"})
df_host["host.host_identity_verified"]= df_host["host.host_identity_verified"].map({False: "No", True: "Yes"})

C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\935357809.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_is_superhost"]= df_host["host.host_is_superhost"].map({False: "No", True: "Yes"})
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\935357809.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_has_profile_pic"]= df_host["host.host_has_profile_pic"].map({False: "No", True: "Yes"})
C:\Users\Admin\AppData\Local\Temp\ipykernel_5752\935357809.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_host["host.host_identity_verified"]= df_host["host.host_identity_verified"].map({False: "No", True: "Yes"})

In [54]:
df_host.head(10)

,_id,host.host_id,host.host_name,host.host_url,host.host_location,host.host_response_time,host.host_response_rate,host.host_thumbnail_url,host.host_picture_url,host.host_neighbourhood,host.host_is_superhost,host.host_has_profile_pic,host.host_identity_verified,host.host_listings_count,host.host_total_listings_count
0,10009999,1282196,Ynaie,https://www.airbnb.com/users/show/1282196,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not Specified,Not Specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim BotÃ¢nico,No,Yes,No,1,1
1,10006546,51399391,Ana&GonÃ§alo,https://www.airbnb.com/users/show/51399391,"Porto, Porto District, Portugal",within an hour,100.0,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,Not Specified,No,Yes,Yes,3,3
2,10057826,47554473,Mae,https://www.airbnb.com/users/show/47554473,US,within a few hours,100.0,https://a0.muscache.com/im/pictures/c680ce22-d...,https://a0.muscache.com/im/pictures/c680ce22-d...,Greenpoint,No,Yes,No,13,13
3,10038496,51530266,Ana ValÃ©ria,https://www.airbnb.com/users/show/51530266,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within an hour,100.0,https://a0.muscache.com/im/pictures/8c7bb5fe-7...,https://a0.muscache.com/im/pictures/8c7bb5fe-7...,Copacabana,Yes,Yes,Yes,2,2
4,10082307,51289938,Ken,https://www.airbnb.com/users/show/51289938,Hong Kong,within an hour,90.0,https://a0.muscache.com/im/pictures/48ba1de1-b...,https://a0.muscache.com/im/pictures/48ba1de1-b...,Jordan,No,Yes,No,6,6
5,10083468,27518920,FÃ¡bio,https://www.airbnb.com/users/show/27518920,"SÃ£o FÃ©lix da Marinha, Porto, Portugal",within an hour,90.0,https://a0.muscache.com/im/pictures/user/30283...,https://a0.muscache.com/im/pictures/user/30283...,Not Specified,Yes,Yes,Yes,3,3
6,10057447,51612949,Konstantin,https://www.airbnb.com/users/show/51612949,"Montreal, Quebec, Canada",Not Specified,Not Specified,https://a0.muscache.com/im/pictures/beb6b50e-0...,https://a0.muscache.com/im/pictures/beb6b50e-0...,Mile End,No,Yes,No,1,1
7,10047964,1241644,Zeynep,https://www.airbnb.com/users/show/1241644,"Istanbul, Istanbul, Turkey",Not Specified,Not Specified,https://a0.muscache.com/im/users/1241644/profi...,https://a0.muscache.com/im/users/1241644/profi...,Moda,No,Yes,Yes,2,2
8,10021707,11275734,Josh,https://www.airbnb.com/users/show/11275734,"New York, New York, United States",Not Specified,Not Specified,https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,No,Yes,Yes,1,1
9,10069642,51670240,Jonathan,https://www.airbnb.com/users/show/51670240,"Resende, Rio de Janeiro, Brazil",Not Specified,Not Specified,https://a0.muscache.com/im/pictures/9a6839d9-9...,https://a0.muscache.com/im/pictures/9a6839d9-9...,Not Specified,No,Yes,No,1,1

In [55]:
df_address = df.iloc[:,137:147]
df_address = df_address.rename(columns={'address.location.coordinates[0]':'longitude','address.location.coordinates[1]':'latitude'})
df_address.head(2)

,address.street,address.suburb,address.government_area,address.market,address.country,address.country_code,address.location.type,longitude,latitude,address.location.is_location_exact
0,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim BotÃ¢nico,Jardim BotÃ¢nico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True
1,"Porto, Porto, Portugal",NaN,"Cedofeita, Ildefonso, SÃ©, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.61308,41.141300,False

In [56]:
df_address.isnull().sum()

address.street                          0
address.suburb                        887
address.government_area                 0
address.market                          6
address.country                         0
address.country_code                    0
address.location.type                   0
longitude                               0
latitude                                0
address.location.is_location_exact      0
dtype: int64

In [57]:
#handling empty values and replace them with not specified
df_address1 = df_address.iloc[:,:-1]
df_address1.replace('', np.nan, inplace=True)
df_address1.fillna('Not Specified', inplace=True)

df_address1["address.location.is_location_exact"]=df_address["address.location.is_location_exact"]


df_address1.head(2)
df_address1["address.location.is_location_exact"]

0        True
1       False
2        True
3       False
4        True
        ...
5550     True
5551    False
5552     True
5553     True
5554     True
Name: address.location.is_location_exact, Length: 5547, dtype: bool

In [58]:
df_address1["address.location.is_location_exact"]= df_address1["address.location.is_location_exact"].map({False:"No", True:"Yes"})
df_address1.insert(0,'_id',df['_id'])
df_address1

,_id,address.street,address.suburb,address.government_area,address.market,address.country,address.country_code,address.location.type,longitude,latitude,address.location.is_location_exact
0,10009999,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim BotÃ¢nico,Jardim BotÃ¢nico,Rio De Janeiro,Brazil,BR,Point,-43.230750,-22.966254,Yes
1,10006546,"Porto, Porto, Portugal",Not Specified,"Cedofeita, Ildefonso, SÃ©, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,-8.613080,41.141300,No
2,10057826,"Brooklyn, NY, United States",Greenpoint,Greenpoint,New York,United States,US,Point,-73.944720,40.727780,Yes
3,10038496,"Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,Rio De Janeiro,Brazil,BR,Point,-43.190849,-22.984339,No
4,10082307,"Hong Kong, Kowloon, Hong Kong",Yau Tsim Mong,Yau Tsim Mong,Hong Kong,Hong Kong,HK,Point,114.171580,22.304690,Yes
...,...,...,...,...,...,...,...,...,...,...,...
5550,9614672,"New York, NY, United States",Midtown,Hell's Kitchen,New York,United States,US,Point,-73.987050,40.764060,Yes
5551,9691680,"BeÅiktaÅ, Ä°stanbul, Turkey",BeÅiktaÅ,Besiktas,Istanbul,Turkey,TR,Point,29.041120,41.077820,No
5552,9759181,"Queens, NY, United States",Queens,Astoria,New York,United States,US,Point,-73.910260,40.769000,Yes
5553,9765083,"Rio de Janeiro, Rio de Janeiro, Brazil",Flamengo,Flamengo,Rio De Janeiro,Brazil,BR,Point,-43.175503,-22.929367,Yes
5554,9853331,"Rio de Janeiro, Rio de Janeiro, Brazil",Leblon,Leblon,Rio De Janeiro,Brazil,BR,Point,-43.219733,-22.982452,Yes

In [59]:
df_availability = df[['_id','availability.availability_30','availability.availability_60','availability.availability_90','availability.availability_365']]
df_availability

,_id,availability.availability_30,availability.availability_60,availability.availability_90,availability.availability_365
0,10009999,0,0,0,0
1,10006546,28,47,74,239
2,10057826,30,31,31,243
3,10038496,7,19,33,118
4,10082307,30,60,90,365
...,...,...,...,...,...
5550,9614672,0,0,0,0
5551,9691680,0,0,0,0
5552,9759181,15,30,45,215
5553,9765083,0,0,0,0
5554,9853331,7,37,67,87

In [60]:
df_availability.isnull().sum()

_id                              0
availability.availability_30     0
availability.availability_60     0
availability.availability_90     0
availability.availability_365    0
dtype: int64

In [63]:
# Merging All data frames

df_final = pd.merge(df1, df_host, on='_id')
df_final = pd.merge(df_final,df_address1, on='_id')
df_final= pd.merge(df_final,df_availability,on='_id')

df_final.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,address.country,address.country_code,address.location.type,longitude,latitude,address.location.is_location_exact,availability.availability_30,availability.availability_60,availability.availability_90,availability.availability_365
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,...,Brazil,BR,Point,-43.23075,-22.966254,Yes,0,0,0,0
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,...,Portugal,PT,Point,-8.61308,41.141300,No,28,47,74,239

In [64]:
# Convert final dataframe as csv file.

df_final.to_csv('Airbnb_analysis_finaldata', index = False)

In [65]:
df_test = pd.read_csv('D:/Data science projects/Airbnb Analysis/Airbnb_analysis_finaldata')
df_test

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,address.country,address.country_code,address.location.type,longitude,latitude,address.location.is_location_exact,availability.availability_30,availability.availability_60,availability.availability_90,availability.availability_365
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,...,Brazil,BR,Point,-43.230750,-22.966254,Yes,0,0,0,0
1,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,2,30,moderate,8,...,Portugal,PT,Point,-8.613080,41.141300,No,28,47,74,239
2,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Apartment,Entire home/apt,Real Bed,3,1125,strict_14_with_grace_period,4,...,United States,US,Point,-73.944720,40.727780,Yes,30,31,31,243
3,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,...,Brazil,BR,Point,-43.190849,-22.984339,No,7,19,33,118
4,10082307,https://www.airbnb.com/rooms/10082307,Double Room en-suite (307),Apartment,Private room,Real Bed,1,1125,strict_14_with_grace_period,2,...,Hong Kong,HK,Point,114.171580,22.304690,Yes,30,60,90,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5542,9614672,https://www.airbnb.com/rooms/9614672,Beautiful Apartment Hells Kitchen,Apartment,Entire home/apt,Real Bed,1,1125,flexible,3,...,United States,US,Point,-73.987050,40.764060,Yes,0,0,0,0
5543,9691680,https://www.airbnb.com/rooms/9691680,Brandnew Fully Furnished Flat,Apartment,Entire home/apt,Real Bed,3,1125,flexible,2,...,Turkey,TR,Point,29.041120,41.077820,No,0,0,0,0
5544,9759181,https://www.airbnb.com/rooms/9759181,2 beds in Chic Apt in Astoria NYC,Apartment,Private room,Real Bed,3,1125,strict_14_with_grace_period,4,...,United States,US,Point,-73.910260,40.769000,Yes,15,30,45,215
5545,9765083,https://www.airbnb.com/rooms/9765083,House in a charming village,House,Private room,Real Bed,7,1125,flexible,2,...,Brazil,BR,Point,-43.175503,-22.929367,Yes,0,0,0,0
5546,9853331,https://www.airbnb.com/rooms/9853331,Amazing apartment in LEBLON,Apartment,Entire home/apt,Real Bed,1,30,strict_14_with_grace_period,5,...,Brazil,BR,Point,-43.219733,-22.982452,Yes,7,37,67,87